<div class="row">
    <div class="col-lg-auto col-xl-5">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">All About Shavonne 💗</h5>
              <h6 class="card-subtitle mb-2 text-muted">Dad jokes..? What's up with that?</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h6 class="card-subtitle mb-2 text-muted">Meh ok, how'd you become a developer?</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h6 class="card-subtitle mb-2 text-muted">Bootcamp? So you weren't a CompSci kid? But all smart techies have their CS degree!</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h6 class="card-subtitle mb-2 text-muted">Psychology?! What in the world?! Do you think you'll ever get back in that field??</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h6 class="card-subtitle mb-2 text-muted">Oh, well that's dope! You said you were full-stack huh? Do you prefer front-end or back-end?</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h6 class="card-subtitle mb-2 text-muted">Cool, cool.. so what exactly do you want to be when you grow up?</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h6 class="card-subtitle mb-2 text-muted">Awesome! So why Java?? It's all about that [INSERT SASSY COMMENT REGARDING THE CURRENTLY TRENDY LANGUAGE] old lady!</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h6 class="card-subtitle mb-2 text-muted">Meh, I suppose - do you know any other languages or frameworks?</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h6 class="card-subtitle mb-2 text-muted">Mmk, so we know what you want to end up doing but what about in 1 year? 5 years? Heck, 10 years?!</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h6 class="card-subtitle mb-2 text-muted">Ok enough of that serious nonsense - are you a ditzy dog mom or a crazy cat lady? We the people want to know!</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
</div>
