<div class="row">
    <div class="col-xs-auto">
        <div class="card justify-content-center">
            <div class="card-body">
              <h5 class="card-title">Quick (but fun!) Facts About <span class="shavonne">Shavonne</span></h5>
              <h6 class="card-subtitle mb-2">Dad jokes..? What's up with that?</h6>
              <p class="card-text mb-5">Umm.. besides the fact that they're super awesome and pure.. what's up with you!? Ok ok, enough hostility 😜 dad jokes are just great man, they're so innocent and they genuinely make me laugh so much!</p>
              <h6 class="card-subtitle mb-2">Meh ok, how'd you become a developer?</h6>
              <p class="card-text mb-5">Let's take a journey shall we? <i>Back when the year was 2003 and the sweet, sweet sound of dial-up still pierced the air with its call for internet access. As you blissfully ignore your mom's threat to stop trying to access the internet since she was on the phone, you casually daydream about what color you're going to make your Neopet pet's page today - maybe blue, maybe pink, maybe yellow. While you weren't completely sure how it worked, you definitely knew where to throw in that clever six-digit code to make the background color change</i> 😌 and that my friends, is how I unknowingly got into web development. Fast forward through the years, HTML/CSS skills were obtained through fiddling around with Xanga and Myspace and boom, in 2019, I graduated from a coding bootcamp as a full-stack developer with Java as my primary language and with knowledge and skills in React, Angular, SQL, and Design.</p>
              <h6 class="card-subtitle mb-2">Bootcamp? So you weren't a CompSci kid? But all smart techies have their CS degree!</h6>
              <p class="card-text mb-5">Well partner, you're in for some shocking news! I know <i>MANY</i> very smart, beyond capable programmers who only have their high schoo diploma - which is beyond fantastic! I am a college graduate, though I didn't study Computer Science, I received my Bachelor's and Master's degree in Pyschology! What a career switch huh!</p>
              <h6 class="card-subtitle mb-2">Psychology?! What in the world?! Do you think you'll ever get back in that field??</h6>
              <p class="card-text mb-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h6 class="card-subtitle mb-2">Oh, well that's dope! You said you were full-stack huh? Do you prefer front-end or back-end?</h6>
              <p class="card-text mb-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h6 class="card-subtitle mb-2">Cool, cool.. so what exactly do you want to be when you grow up?</h6>
              <p class="card-text mb-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h6 class="card-subtitle mb-2">Awesome! So why Java?? Don't you know it's all about that <span class="sassy-comment">[INSERT OVERLY SASSY COMMENT REGARDING THE CURRENTLY TRENDY LANGUAGE]</span> old lady!</h6>
              <p class="card-text mb-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h6 class="card-subtitle mb-2">Meh, I suppose - do you know any other languages or frameworks?</h6>
              <p class="card-text mb-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h6 class="card-subtitle mb-2">Mmk, so we know what you want to end up doing but what about in 1 year? 5 years? Heck, 10 years?!</h6>
              <p class="card-text mb-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h6 class="card-subtitle mb-2">Ok enough of that serious nonsense - are you a ditzy dog mom or a crazy cat lady? We the people want to know!</h6>
              <p class="card-text mb-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
</div>
