.row {
    justify-content: center;
}

.card {
    text-align: center;
    padding: 0 100px;
    width: 100%;
    margin: 50px 0;
    border: none;
    font-family: 'Karla', sans-serif;
}

.card-title {
    font-size: 60px;
    color: #ebd5d5;
    margin-bottom: 80px;
}

.shavonne {
    background: url("https://i.imgur.com/bDGOKE5.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 58px;
    padding: 12px 25px 12px 15px;
    color: rgb(235, 213, 213, .83);
}

.card-subtitle {
    font-size: 40px;
    color: #ea8a8a;
}

.card-text {
    font-size: 20px;
    color: #685454;
}

.sassy-comment {
    font-size: 19.97px;
    vertical-align: middle;
}

h6 {
    margin-bottom: 10px;
}

h6, p {
    width: 100%;

}

@media screen and (max-width: 500px) {
    .card-title {
        font-size: 40px;
    }

    .shavonne {
        font-size: 38px;
    }

    .card-subtitle {
        font-size: 30px;
    }
}