<div class="row">
  <div class="col-xs-auto">
    <div class="card justify-content-center">
      <div class="card-body">
        <h5 class="card-title">Quick (but fun!) Facts About <span class="shavonne">Shavonne</span></h5>
        <h6 class="card-subtitle mb-2">Hi! Ok, the dad jokes..? What's up with that?</h6>
        <p class="card-text mb-5">Umm.. besides the fact that they're super awesome and pure.. what's up with you!? Ok
          ok, enough hostility 😜 dad jokes are just great man, they're so innocent and they genuinely make me laugh so
          much!</p>
        <h6 class="card-subtitle mb-2">I guess - how'd you become a developer?</h6>
        <p class="card-text mb-5">Let's take a journey shall we? <i>Back when the year was 2003 and the sweet, sweet
            sound of dial-up still pierced the air with its call for internet access. As you blissfully ignore your
            mom's threat to stop trying to access the internet since she was on the phone, you casually daydream about
            what color you're going to make your Neopet pet's page today - maybe blue, maybe pink, maybe yellow. While
            you weren't completely sure how it worked, you definitely knew where to throw in that clever six-digit code
            to make the background color change</i> 😌 and that my friends, is how I unknowingly got into web
          development. Fast forward through the years, HTML/CSS skills were obtained through fiddling around with Xanga
          and Myspace and boom, in 2019, I graduated from a coding bootcamp as a full-stack developer with Java as my
          primary language and with knowledge and skills in React, Angular, SQL, and Design.</p>
        <h6 class="card-subtitle mb-2">Bootcamp? So you weren't a CompSci kid? But all the smart techies have their CS
          degree!</h6>
        <p class="card-text mb-5">Well partner, you're in for some shocking news! I know <i>MANY</i> very smart, beyond
          capable programmers who only have their high school diploma - which is beyond fantastic! 🤩 I am a college
          graduate, while I didn't study Computer Science, I received my Bachelor's and Master's degrees in Pyschology!
          What a career change huh!</p>
        <h6 class="card-subtitle mb-2">Psychology?! What in the world?! Do you think you'll ever get back in that
          field??</h6>
        <p class="card-text mb-5">Yep! I spent six years (technically seven if we're counting Junior year of high
          school!) completely smitten with Psychology so yes, I would love to get back in that space eventually! I think
          it would be cool to provide consulting services to psychologists and help revamp and maintain their websites
          and applications! Do you know how cool it would be to create an application to help forensic psychologists
          evaluate offenders?! That would be sick!</p>
        <h6 class="card-subtitle mb-2">Ok - that would be pretty dope! Let's circle back, you said you were full-stack
          huh? Do you prefer front-end or back-end?</h6>
        <p class="card-text mb-5">At this current time (February 19, 2020 08:17AM), I definitely prefer front-end over
          back-end. While I enjoy creating and programming apps from a back-end perspective, I enjoy fiddling with the
          client-side more. Honestly, if I could get a job that was pure CSS - I would jump on that in a heartbeat!
          Though, that would still require a lot of learning because some of these people's pure CSS CodePens blow me
          absolutely away!</p>
        <h6 class="card-subtitle mb-2">Cool, cool.. so what exactly do you want to be when you grow up?</h6>
        <p class="card-text mb-5">Let's see, considering a year ago from today I was thinking about pursuing a PhD in
          Psychology, then a second Master's in Clinical Mental Health Counseling.. I don't think I know exactly what I
          want to do 😅 Right now I've been entertaining the idea of converting to UX Design and try to become a UX
          Researcher (the researcher in me LOVES this idea) at the same time, I also enjoy manipulating code so I'm not
          sure! Ask me again right before I grow up!</p>
        <h6 class="card-subtitle mb-2">Awesome! So why Java?? Don't you know it's all about that <span
            class="sassy-comment">[INSERT OVERLY SASSY COMMENT REGARDING THE CURRENTLY TRENDY LANGUAGE]</span> old lady!
        </h6>
        <p class="card-text mb-5">Hey now.. <i>hey nowww! This is what dreeeeeeeams are made of!</i> Now that's done and out of the way 😌 I find it very interesting that prior to my bootcamp (and honestly the first few weeks of the bootcamp), I was absolutely terrified of Java! Nothing was clicking and it just felt like way too much! Now, when I think of using any language that isn't OOP, I freak out! <i>What do you mean there's no polymorphism?! No abstraction?! What world is this?!</i> Java was the main language my bootcamp chose to focus on and I'm actually really grateful to be among those that use it! But don't let my love for the old lady language fool you - as soon as I can, I will be learning Python and whatever else is trending today with the youth!</p>
        <h6 class="card-subtitle mb-2">Meh, I suppose - do you know any other languages or frameworks?</h6>
        <p class="card-text mb-5">Sure! I know quite a few languages and frameworks! Do I actively code in/with them? Absolutely not! 😜 Ok but seriously, I started to learn C# since it's so similiar to Java and I also started to dabble with .NET but I had to switch gears to focus back on Java for a potential client. While I didn't get the chance to use C#/.NET in a project, I'm definitely looking forward to using it later in my career! I've mentioned that I'm familiar with React and Angular for client-side technologies (#teamAngularFTW) and I already have Svelte on my radar for learning next! In addition to Python of course 😝</p>
        <h6 class="card-subtitle mb-2">Mmk, so we know what you want to end up doing but what about in 1 year? 5 years?
          Heck, 10 years?!</h6>
        <p class="card-text mb-5">**WILL UPDATE LATER**</p>
        <h6 class="card-subtitle mb-2">Ok enough of that serious nonsense - are you a ditzy dog mom or a crazy cat lady?
          We the people want to know!</h6>
        <p class="card-text mb-5">Oh man.. I want to say my heart is definitely both!! But as of right now, I am a cat mom to my two beautiful cat babies, Little Kitty and Smokie 😍 please enjoy the slideshow I took deliberate pleasure from creating!</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-auto">
    <div class="closing-block">
      <p class="closing-text">**THIS IS WHERE A CAROUSEL WILL GO WITH BEAUTIFUL FUR BABIES**</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-auto">
    <div class="closing-block">
      <p class="closing-text">Alright, that's it folks! I know what you're thinking - how do I connect with such a snazzy woman?</p>
      <p class="closing-text">Send me an <a href="mailto:shavonnedenisecobb@gmail.com">email</a>! I would love to hear from you!</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-auto">
    <div class="signature-block">
      <h5 class="signature-line">Until next time,</h5>
      <h6 class="shavs-signature">Shavonne Denise Cobb</h6>
    </div>
    <img src="https://i.imgur.com/loLYN8B.jpg" class="shavs-pic img-fluid mx-auto d-block" />
  </div>
</div>