.row {
    justify-content: center;
}

.blurb-col {
    border-radius: 5px;
    margin: 20px;
    width: 100%;
}

.blurb-card {
    font-family: 'Karla', sans-serif;
    padding: 20px;
    border-radius: 25px;
    width: 100%;
}

.blurb-name {
    font-size: 25px;
    background: url("https://i.imgur.com/bDGOKE5.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 50px;
    padding: 12px 25px 12px 15px;
    color: rgb(235, 213, 213, .83);
}

.card-text {
    color: #685454;
    font-size: 17px;
}

#blurb-text {
    font-size: 18px;
}

@media screen and (min-width: 400px) {
    .row {
        align-items: center;
    }
}

@media screen and (min-width: 1366px) {
    .row {
        flex-direction: row;
    }

    .card-title {
        font-size: 35px;
    }

    #blurb-text {
        font-size: 20px;
    }
 
}
