.row {
    justify-content: center;
}

.blurb-col {
    border-radius: 5px;
    margin: 20px;
    width: 100%;
}

.blurb-card {
    padding: 20px;
    border-radius: 25px;
    width: 100%;
}

.card-title {
    font-size: 28px;
}

@media screen and (min-width: 400px) {
    .row {
        align-items: center;
    }
}

@media screen and (min-width: 1366px) {
    .row {
        flex-direction: row;
    }
 
}
