<div class="row">
    <div class="blurb-col col-lg-auto col-xl-5" *ngFor="let blurb of blurbs">
        <div class="blurb-card">
            <video class="card-img-top" autoplay>
                <source src={{blurb.videoURL}} type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="card-body text-center">
                <h5 class="card-title"><span class="blurb-name">{{blurb.name}}</span></h5>
                <p class="card-text" id="blurb-text">{{blurb.name}} was created with {{blurb.description}}.</p>
                <p class="card-text"><small class="text-muted">Created {{blurb.creationDate}}</small></p>
            </div>
        </div>
    </div>
</div>